.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    margin-top: 20px;
}
 
.list-table-format .Edit-Img{
    margin-left: 10px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    object-fit: cover;
}

.deactive{
   opacity: 50%;
}

.list-table-format {
    background-color: rgb(255, 255, 255);
}

.list .title{
  background-color:#d9d5d5 ;
  box-shadow: none;
}

.list-table-format img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.remove{
    margin-left:25%;
    color: red;
    cursor: pointer;
    font-weight: 600;
    font-size: 10px;
}


.remove:hover{
    margin-left:25%;
    color: red;
    cursor: pointer;
    font-weight: 1200;
    font-size: 15px;
    opacity: 100%;
}

.active-mark{
    margin-left:15%;
    color: green;
    cursor: pointer;
    font-weight: 600;
    font-size: 10px; 
}

.active-mark:hover{
    margin-left:15%;
    color: green;
    cursor: pointer;
    font-weight:1200;
    font-size: 15px; 
    opacity: 100%;
}

@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;

    }
    .list-table-format.title{
        display: none;
    }
    
}